html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
  background-color: #fff;
}

.top-navigation > .content {
  width: 55rem;
  height: 4.375rem;
  margin: 0 auto;
  padding: 20px 15px;
}

.top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
}

.top-navigation .links .active {
  font-weight: 500;
  color: #4C5058;
}

.top-navigation .links a:hover {
  color: #333333;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #838994;
}